{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
* {
  box-sizing: border-box;
}

/* #myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
} */

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

/* #myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1; */
}
</style>
<table id="myTable">
    <tr>
        <th>User Name</th>
        <td>{{user.username}}</td>
        </tr>
    
        <tr>
        <th>Email</th>
        <td>{{user.email}}</td>
        </tr>
    
        <tr>
        <th>Phone Number</th>
        <td>{{user.phone}}</td>
        </tr>
    
        <tr>
        <th>Address</th>
        <td>{{user.address}}</td>
        </tr>
    
        <tr>
        <th>DOB</th>
        <td>{{user.DOB}}</td>
        </tr>
    
        <tr>
        <th>User Role</th>
        <td>{{user.role}}</td>
        </tr>
 
</table>



{% endblock %}

