{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .previous{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    }
    .paginate_button{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    }
    .next{
        padding: 10px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 20px;
    }
   .dataTables_paginate{
        margin-bottom: 10px !important;
    }
    .paging_simple_numbers{
        margin-top: -25px !important;
    }
</style>
                <main class="mt-100 mb-100">
                   <div class="container">
                    <h1>ALL CATEGORY</h1>
                   </div>
                   
                
                    <div class="container mt-100 mb-100">
                       
                    
                        <button><a href="{% url 'add_category' %}"  ><i class="fas fa-align-justify" type='submit'></i>Add New</a></button>
                        
                        <button> <a href="{% url 'list_category' %}"  ><i class="ti-plus" type='submit'></i> All Category</a></button>
                    
                        <!-- <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'searchCategory' %}">
                            
                            {% csrf_token %}
                            <div class="form-group"  style="padding-left: 50rem;">
                                <input class="form-control" id="search" name="search" type="text" placeholder="Search by Category">
                                <button class="btn btn-primary" type="submit">search</button>
                            </div>
                            </form> -->
                            <div class="container mt-100 mb-100">                    
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card mb-4">
                                            <div class="card-body">
                                                <h5>CATEGORY LIST</h5>
                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <div class="table01">
                                                            <table id="table1">
                                                                <div class="col-xl-3">
                                                                    </div>          
                                                                <thead>
                                                                    <tr>
                                                                        <th>Category Name</th>
                                                                        <th>Description</th>
                                                                        <!-- <th>MetaKeywords</th> -->
                                                                        <th>Price</th>
                                                                        <th>Action</th>
                                                                        <!-- <th>Delete</th> -->
                        
                                                                        
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="searchResult">
                                                                    {% for i in showcategory %}
                                                    
                                                                    <tr>
                                                                        <td>{{i.category}}</td>
                                                                        <td id="{{i.id}}" >
                                                                            {{i.get_description }}
                                                                        <!-- <td>{{i.metakeywords}}</td> -->
                                                                        <td>{{i.price}}</td>
                                                                    

                                                                        <td>
                                                                            <button><a href="{% url 'editCategory' userid=i.id %}"><i class="fa fa-edit" type="submit"></i></a></button>
                                                                        
                                                                        
                                                                        <button class="btns"><a  href="{% url 'deleteCategory' %}?delete=True #modal-default"data-toggle="modal" data-target="#modal-default" onclick="addId({{i.id}});"><i class="far fa-trash-alt" title="Delete"></i></a></button> 
                                                                    </td>
                                                                    </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                                </div>
                                                </div>
                                                </div>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="modal fade" id="modal-default">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                          <h4 class="modal-title">Delete Category ?</h4>
                                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                          </button>
                                                        </div>
                                                        <div class="modal-body">
                                                          <p>Are you sure you want to delete the Category?</p>
                                                        </div>
                                                        <div class="modal-footer ">
                                                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                          <form action="{% url 'deleteCategory' %}?delete=True" method="POST" >
                                                            {% csrf_token %}
                                                            <input type="number" name="categoryid" id="categoryDel" hidden>
                                                            <button type="submit" class="btn btn-danger">Delete</button>
                                                          </form>
                                                        </div>
                                                    </div>
                                                  <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>
                                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                                            <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" defer></script>
                                            <script>
                                                $(document).ready(function () {
                                                    $('#table1').DataTable({
                                                        "lengthChange": false,
                                                        "pageLength": 30,
                                                        "ordering":false
                                                    });
                                                });
                                            </script> 
                                            <script>
                                                function addId(id){
                                                   document.getElementById('categoryDel').value = id
                                               }
                                           </script>
                </main>
               
{% endblock %}